<!-- hero -->
 <section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">Mall Blitz</h1>    
    </div>
 </section>
 <!-- Game Overview -->
<section class="game-section">
    <div class="container">
        <h2 class="game-title">Game Overview</h2>
        <p class="game-text">Mall Blitz is a fast-paced, fun-filled shopping adventure set in a quirky mall packed with mini-games, surprises, and
        challenges. Play as energetic shoppers rushing through stores, grabbing deals, dodging chaos, and competing in fun
        challenges. Whether you’re into speed, memory games, or quick puzzles — Mall Blitz turns shopping into an exciting
        arcade experience!</p>
        <img class="game-img-one" src="/img/game/desk-one.png" alt="Mall Blitz" loading="lazy">
        <img class="game-img-two" src="/img/game/desk-two.png" alt="Mall Blitz">
    </div>
</section>