.footer {
  background: #badff8;
}
.footer-container{
  padding: 49px 20px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Fredoka", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: #1d1d1f;
    text-align: left;
    margin-bottom: 22px;
}
.footer-text{
  font-size: 12px;
}
@media only screen and (min-width: 1439px) {
  .footer-container {
      padding: 46px 180px;
    }
  
    .footer-navigation {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
      margin-bottom: 50px;
    }  
    .footer-text {
  text-align: center;
}  
}

